body {
    color: #666;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color: #3E93AC;
    font-weight: 300;
    line-height: 30px;
}

h2 {
    color: #3E93AC;
    font-weight: 300;
}

a {
    color: #3E93AC;
}

blockquote {
    padding-left: 10px;
    border-left: 2px #E3E3E3 solid;
}

.highlight {
    color: #F5630F;
}

.note {
    font-size: 13px;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

.main-content {
    margin-top: 70px;
}

.center-content {
    margin-top: 8px;
}

.item img {
    float: right;
}

.menu {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    line-height: 25px;
}

.menu .active a {
    text-decoration: underline;
    color: inherit;
}
