body {
    color: #e2f3e5;
    background-color: #090d11;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    font-family: 'Helvetica', 'Helvetica';
}

h1 {
    color: #7abdbb;
    font-weight: 300;
}

h2 {
    color: #7abdbb;
    font-weight: 300;
}

a {
    color: #7abdbb;
}

.highlight {
    color: #E8901C;
}

.note {
    font-size: 14px;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

.main-content {
    margin-top: 100px;
}
.item img {
    float: right;
}

.menu {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    line-height: 25px;
}

.menu .active a {
    text-decoration: underline;
    color: #e2f3e5;
}
