body {
    color: #e2f3e5;
    background-color: #090d11;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Helvetica Neue', 'Helvetica';
}

h1 {
    color: #7abdbb;
    font-weight: 300;
}

h2 {
    color: #7abdbb;
    font-weight: 300;
}

a {
    color: #7abdbb;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

.main-content {
    margin-top: 100px;
}
.item img {
    float: right;
}

.menu {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
}

.menu .active a {
    text-decoration: underline;
    color: #e2f3e5;
}
