<div class="span3 offset1">
    <h1><a href="/">Jack Pearkes</a></h1>
    <p>This website seeks to represent the the work I commit myself to and the things I create.</p>
    <ul class="menu">
        {% for section in sections %}
        <li class="{% if section['filename'] == request.path.split('/')[1] %}active{% endif %}"><a href="{{ section['path'] }}">{{ section['name'] }}</a></li>
        {% endfor %}
    </ul>
    <p class="note">I am best reached via email at <a href="mailto:jackpearkes@gmail.com">jackpearkes@gmail.com</a>.
    <p class="note" id="location">Fetching Jack's <span class="highlight">last known location</span>...</p>
</div>
