<div class="span3 offset1">
    <h1><a href="/">Jack Pearkes</a></h1>
    <p>This website seeks to represent the the work I commit myself to and the things I create.</p>
    <ul class="menu">
        {% for section in sections %}
        <li class="{% if section['filename'] == request.path.split('/')[1] %}active{% endif %}"><a href="{{ section['path'] }}">{{ section['name'] }}</a></li>
        {% endfor %}
    </ul>
    <p>I am best reached via email at <a href="mailto:jackpearkes@gmail.com">jackpearkes@gmail.com</a>.
    <p>The last time I was seen active at a computer was in <a href="http://goo.gl/maps/qgVbc">Berlin, Germany</a>, about 4 hours ago.</p>
</div>
