<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jack Pearkes</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet" type='text/css'>
    <link href="/static/css/main.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inika:400,700' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- General Search Engines -->
    <meta name="description" content="Jack Pearkes is a software developer in pursuit of good art, technology and business. This is his personal website."/>
    <link rel="canonical" href="http://jack.ly" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pearkes">
    <meta name="twitter:description" content="Jack Pearkes is a software developer in pursuit of good art, technology and business. This is his personal website.">

    <!-- Open Graph (Facebook) -->
    <meta property='og:locale' content='en_US'/>
    <meta property='og:title' content='Jack Pearkes’ Personal Website.'/>
    <meta property='og:description' content='Jack Pearkes is a software developer in pursuit of good art, technology and business. This is his personal website.'/>
    <meta property='og:url' content='http://jack.ly'/>
    <meta property='og:site_name' content='Jack Pearkes'/>
  </head>
  <body>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <div class="container">
        <div class="row main-content">
        {% include "includes/sidebar.html" %}
            <div class="center-content">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="span3 offset1">
            <p class="note">Copyright Jack Pearkes. This
                website, less the content, are available for use on <a href="https://github.com/pearkes/jack.ly">Github</a>.</p>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>
