<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jack Pearkes</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
    <link href="/static/css/main.css" rel="stylesheet" type='text/css'>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- General Search Engines -->
    <meta name="description" content="Jack Pearkes is one of ~7,094,711,887. This is his personal website."/>
    <link rel="canonical" href="http://jack.ly" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pearkes">
    <meta name="twitter:description" content="Jack Pearkes is one of ~7,094,711,887. This is his personal website.">

    <!-- Open Graph (Facebook) -->
    <meta property='og:locale' content='en_US'/>
    <meta property='og:title' content='Jack Pearkes’ Personal Website.'/>
    <meta property='og:description' content='Jack Pearkes is one of ~7,094,711,887. This is his personal website.'/>
    <meta property='og:url' content='http://jack.ly'/>
    <meta property='og:site_name' content='Jack Pearkes'/>
  </head>
  <body>
  <div class="container">
          <div class="col-xs-16 col-sm-12 col-md-8 col-md-offset-2 col-lg-offset-2 col-lg-7">
            {% include "includes/header.html" %}
            {% block content %}
            {% endblock %}
          </div>
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18886936-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>


